<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <base href = "/">
  <style>
    #wrapper {
      background-color: lightgrey;
      padding-bottom: 30px;
    }
    #main {
      margin-left: 200px;
      width: 900px;
    }
    img {
      margin: 25px;
    }
  </style>
</head>
<body>
  <div id = "wrapper">
    <div id = "main">
      <h2><b>Home Page</b></h2><br>
      <h3>Welcome to Pony Product Management!</h3>
      <h3>You can view all of the MLP-related products, add a new product,
        edit a product's information, or delete a product on this website!</h3>
      <img src = "https://derpicdn.net/img/2018/7/31/1794196/medium.jpeg">
    </div>
  </div>
</body>